<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_heading: 'About Us' }%>
<% end %>

<div class="plain-text">
    <h3 class="sub-heading">Danglay</h3>
    <p>
      In this fast-paced hustle and bustle we call city life, lined with deafening honks, screeching brakes and signals
      that virtually never turn
      green, Danglay attempts to make travel through the city a little less crazy.
    </p>

    <p>
      If you’re one of those city dwellers that is oscillating between how lonely it is to WFH and how maddening it is
      to wade through traffic
      to work, then it’s time to take Danglay for a spin. Find colleagues who’d like to share a cab to work, and hop on.
      You’ll still be stuck in
      traffic (we haven’t learnt magical decongesting spells yet, but we’re on it!), but at least you’ll have friendly
      company. Catch up on all
      the office gossip, learn about different teams, or just get that sleep you need (Yes, watching 12 episodes of GoT
      last night was a bad idea!).
      You’ll never have to bother about driving to work or using chaotic public transport again!
    </p>
    <p>
      Not convinced? Maybe this will do it - Danglay and ThoughtWorks’ carpool policy
      (<a href="https://thoughtworks.jiveon.com/docs/DOC-31374">https://thoughtworks.jiveon.com/docs/DOC-31374</a>)
      come together to save you big bucks! Share a cab with ThoughtWorkers, and ThoughtWorks will pay half your travel
      costs. That’s like money in
      your pocket! That shiny new iPhone is not a distant dream any longer.
    </p>
    <p>
      So go on, find your cabpool mates now, and have a more pleasant commute to and from work!
    </p>
</div>

<div class="plain-text">
    <h3 class="sub-heading">What the heck is 'Danglay'?</h3>
    <p>
      It means really really awesome, like our app.
      No, we’re kidding. Danglay is a slang Kannada term for ‘to ditch’ or ‘to let down’. And we hope that using our app
      will never let you be stranded again.
      We like ironic names like that.
    </p>
</div>
