<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_heading: 'Cabpool Policy' }%>
<% end %>

<div class="plain-text">
  <div>
    <h3 class="sub-heading">
      Privacy Policy</h3>
    <p>
      DANGLAY does not share your personal data and contact information with any third party unless and until any
      specific service of this website demands the need of sharing.
      DANGLAY reserves rights to access your personal information and share on demand by any government agency.
      E-mail communications sent from Us or through Us are designed to make Your DANGLAY experience more efficient.
      By becoming a Participant, You specifically agree to accept and consent to receiving e-mail communications
      initiated from Us or through Us,
      which include, without limitation: message notification e-mails, e-mails informing You about potential available
      Drivers or Riders and e-mails informing
      You of promotions We run and emails informing You of new and existing features We provide.
      These types of communications, are known as "Operational Communications".
      If You do not wish to receive any of our e-mail communications please do not use the Service.
    </p>
    <p>
      To operate the Site, including processing your transactions and supporting your activities on the Site,
      we may share your personal information with our agents, representatives, contractors and service providers so they
      can provide us with support services such as email origination,
      receipt or support services, customer relationship management services, and order fulfillment.
      We require these entities not to use your information for any other purpose.
    </p>
    <p>
      By purchasing, or registering or making reservations for, products or services offered or sponsored by third
      parties on the Site,
      or electing to receive communications (such as emails or material by mail) or electing to participate in contests,
      sweepstakes or other programs (such as discount or rewards programs), offered or sponsored by third parties on the
      Site,
      you consent to our providing your personal information to those third parties.
      Those third parties may use your personal information in accordance with their own privacy policies.
      You will need to contact those third parties to instruct them directly regarding your preferences for the use of
      your personal information by them.
      Additionally, you agree that we may use and disclose all such information so submitted to such third parties
      in the same manner in which we are entitled to use and disclose any other information you submit to us.
    </p>
    <p>
      Any third party with whom we are allowed to share your personal information is authorized to use your personal
      information in accordance with our contractual arrangements with such third parties and in accordance with their
      own privacy policies,
      over which we have no control, and you agree that we are not responsible or liable for any of their actions or
      omissions.
      Those who contact you will need to be instructed directly by you regarding your preferences for the use of your
      personal information by them.
    </p>
    <h3 class="sub-heading">Cookies</h3>
    <p>
      Cookies
      Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit.
      Cookies are used in some elements of our site to enable the functionality of that element and ease of use for for the user.
    </p>
  </div>
</div>