<% provide(:banner) do %>
    <%= render partial: 'layouts/banners/default',
               object: { banner_ui_style: 'static-pages',
                         banner_heading: 'Terms And Conditions' }%>
<% end %>

<div class="plain-text">
    <h3 class="sub-heading">
      Disclaimer
    </h3>
    <p>
      In using this website and its associated services you are deemed to have read and agreed to the following terms
      and conditions:
      The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any
      or all Agreements:"Client", "You" and "Your" refers to you, the person accessing this website and accepting the
      Companys terms and conditions. "Ourselves", "We" and "Us", refers to DANGLAY. "Party", "Parties" refers to both
      the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and
      consideration of payment necessary to undertake the process of our assistance to the Client in the most
      appropriate manner. Any use of the above terminology or other words in the singular, plural, capitalisation and/or
      he/she or they, are taken as interchangeable and therefore as referring to same.
      Welcome to DANGLAY, a dynamic ride sharing web application which enables users to connect and travel together. By
      accessing or using DANGLAY, you represent and agrees that you are 18 years of age or older, and you agree and
      acknowledge to be bound by these Terms and Conditions. DANGLAY reserves rights to change the Terms and Conditions
      at any time, so request you to check the terms and conditions periodically.
    </p>
    <h3 class="sub-heading">
      User Eligibility
    </h3>
    <p>
      By accessing or registering on DANGLAY, you accept that you are 18 years of age or older, also you agree and acknowledge to be bound by these Terms & Conditions. If you do not agree to these Terms please do not access this website or any of the contents. DANGLAY facilitates mutual sharing of car, by Registering with DANGLAY you are agreeing that if you have a car and you will share it with co-riders.
    </p>

    <h3 class="sub-heading">
      Usage License
    </h3>
    <p>
      By registering on DANGLAY, DANGLAY grants you a license to use the services provided by DANGLAY in accordance with terms & conditions and guidelines posted on the site. Also DANGLAY reserves rights to charge for its services in future for commercial usage. DANGLAY reserves rights to disable/delete your account or restrict your access to few or all of the services provided by DANGLAY at any point without prior notification.
    </p>

    <h3 class="sub-heading">
      Copyright Policy
    </h3>
    <p>
      You shall not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. All content included on this site, such as text, graphics, logos, button icons, images, and audio clips, digital downloads, data compilations, and software is the property of DANGLAY or its content suppliers and protected by Indian and International copyright laws. The compilation of all content on this site is the exclusive property of DANGLAY and protected by Indian and International copyright laws. All software used on this site is the property of DANGLAY or its software suppliers and protected by Indian and International Copyright Laws.
    </p>

    <h3 class="sub-heading">
      User Responsibility</h3>
    <p>
      DANGLAY currently validates the users based on their corporate email ID only. DANGLAY believes all involved organizations do a stringent background and personal checks of their employees. Also, as an added safety, DANGLAY users have a choice of limiting/selecting the organizations in their personal network. Ride users need verify the identity of all the people involved in their ride share, and DANGLAY is not responsible for any failure/problem during and after this validation. Users are not permitted to use/share/monetize any data available on the portal for anything outside the defined functioning of the site. Any damage occurring due to misuse of data will not be entertained/replied/justified by DANGLAY. In such occurrences, DANGLAY is not involved in any of the legal or any other disputes arising. Also, in such cases, DANGLAY has all rights to terminate the involved users from the portal, and if required pursue legal methods. DANGLAY is only a ride-sharing portal and does not go beyond the said functionality.
    </p>

    <h3 class="sub-heading">
      No Liability or responsibility</h3>
    <p>
      DANGLAY, under no circumstances will be responsible for any kind of physical, financial, psychological, and personal or any other kind of damage arising out of any of the situations by use of its services (including negligence).</p>
    <p>
      In no event will we, our subsidiaries, officers, directors, employees or our suppliers, be liable to you for any incidental, consequential, or indirect damages (including, but not limited to, damages for deletion, corruption, loss of data, loss of programs, failure to store any information or other content maintained or transmitted by our service, service interruptions, or for the cost of procurement of substitute services) arising out of or in connection with our site, our services or this agreement (however arising, including negligence) even if we or our agents or representatives know or have been advised of the possibility of such damages. Neither we nor any of our partnering organizations screen the participants using the service in any way. As a result, neither we nor any of our partnering organizations will be liable for any damages, direct, indirect, incidental and/or consequential, arising out of the use of the site or the services, including, without limitation, to damages arising out of communicating and/or meeting with other participants of the site or the services, or introduced to you via the site or the services. Such damages include, without limitation, physical damages, bodily injury, death and or emotional distress and discomfort. Notwithstanding anything to the contrary contained herein, our liability, and the liability of our partnering organizations, subsidiaries, officers, directors, employees, and suppliers, to you or any third parties in any circumstance .
    </p>

    <h3 class="sub-heading">
      Information control</h3>
    <p>
      We cannot verify or guarantee the accuracy of the information Users provide us on the Site, and We do not control the information provided by other Users that is made available through our system. Therefore, DANGLAY cannot and does not confirm each User's identity. You may find other User's information to be offensive, harmful, inaccurate, or deceptive. Please use caution and common sense when using the Site. By using this Site, You agree to accept such risks and DANGLAY is not responsible for the acts or omissions of users on the Site. DANGLAY currently validates the users based on their corporate email ID only.
    </p>

    <h3 class="sub-heading">
      Intellectual property
    </h3>
    <p>
      All intellectual property rights on the Site and in the Service shall be owned by Us absolutely and in their entirety. These rights include and are not limited to database rights, copyright, design rights (whether registered or unregistered), trademarks (whether registered or unregistered) with the right to apply for protection of the same. All other trademarks, logos, service marks, company or product names set forth in this website are the property of their respective owners. You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Site or the Service ("Submissions"), provided by You to Us are non-confidential and shall become the sole property of DANGLAY. DANGLAY shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to You.
    </p>
    <h3 class="sub-heading">
      Disclaimer
    </h3>
    <p>
      Please note that DANGLAY provides a matching service only. It is the user's own responsibility to judge the suitability of a member before deciding to meet/pool with him/her and we cannot be held liable for any untoward incident arising due to the use of this service. We, our subsidiaries, officers, directors, employees and our suppliers provide the Site and the Services on an "as is" basis and without any warranty or condition, express, implied or statutory. We do not guarantee and do not promise any specific results from use of the Site and/or the Services. We, our subsidiaries, officers, directors, employees and our suppliers specifically disclaim any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to You. We do not warrant that Your use of the Service will be accurate, complete, reliable, current, secure, uninterrupted, always available, or error-free, or will meet Your requirements, that any defects in the Service will be corrected, or that the Services are free of viruses or other harmful components. We disclaim liability for, and no warranty is made with respect to, connectivity and availability. We cannot guarantee that each User is at least the required minimum age, nor do we accept responsibility or liability for any content, communication or other use or access of the Site or the Services by persons under the age of 18 in violation of this Agreement. We are not responsible or liable in any manner for any Content posted on the Site or in connection with the Service, whether posted or caused by Users of the Site, by DANGLAY, by third parties or by any of the equipment or programming associated with or utilized in the Site or the Service. Although We provide rules for User conduct and postings, We do not control and are not responsible for what Users post, transmit or share on the Site and are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content You may encounter on the Site or in connection with any Content. DANGLAY is not responsible for the conduct, whether online or offline, of any user of the Site or Service.
    </p>
    <p>
      It also is possible for others to obtain personal information about You due to Your use of the Site or the Services, and that the recipient may use such information to harass or injure You. We are not responsible for the use of any personal information that You disclose on the Site or through the Services. You are solely responsible for Your interactions with other Users. We reserve the right, but have no obligation, to monitor disputes between You and other Users. Please carefully select the type of information that You post on the Site or through the Services or release to others. We disclaim all liability, regardless of the form of action, for the acts or omissions of other Participants or Users (including unauthorized users, or "hackers"). DANGLAY only offers a venue that enables drivers and riders to match with each other. DANGLAY does not offer transportation services and DANGLAY is not a transportation company. We are not involved in the actual transportation services between Drivers and Riders. As a result, we have no control over the quality or safety of the transportation that occurs as a result of this rideshare venue service; nor do we have any control over the truth or accuracy of the of Participants' information listed on DANGLAY. We cannot ensure that a Driver or Rider is who he or she claims to be or that a Driver or Rider will actually complete an arranged service. We reserve the right to change any and all Content, software and other items used or contained in the Site and any Services offered through the Site at any time without notice. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by DANGLAY.
    </p>
    <p>
      The Site and the Service may be temporarily unavailable from time to time for maintenance or other reasons. DANGLAY assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, User communications. DANGLAY is not responsible for any technical malfunction or other problems of any telephone network or service, computer systems, servers or providers, computer or mobile phone equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any Site or combination thereof, including injury or damage to User's or to any other person's computer, mobile phone, or other hardware or software, related to or resulting from using or downloading materials in connection with the Web and/or in connection with the Service.
    </p>
    <h3 class="sub-heading">
      Complaints
    </h3>
    <p>
      To resolve a complaint regarding the Service, You should first contact our Customer Service Department by email at <strong>danglay@thoughtworks.com</strong>.
    </p>
</div>
