<h4>Hi Admin!</h4>

<p>A new cabpool with id <strong> <%= @cabpool %></strong> has been formed! The cabpool is from <strong> <%= @locality %> </strong>. Please check the application for more details.</p>

<p>Thanks!</p>
<p>Danglay</p>