<h4>Hi Admin!</h4>

<p> The cabpool with ID: <strong> <%= @cabpool %></strong> can be discontinued since there is only one member in the cab. Please check the <%= link_to 'application', admin_url, target: '_blank' %> for more information  </p>

<p>Thanks!</p>
<p>Danglay</p>