<h4>Hi Admin!</h4>

<p> A user named <strong> <%= @username %></strong> has left the cabpool having ID: <strong> <%= @cabpool %></strong>. Please check the application for more information.</p>

<p>Thanks!</p>
<p>Danglay</p>