<h4>Hi Admin!</h4>

<p>
  A new User named <strong > <%= @username %> </strong> has joined the cabpool with ID <strong> <%= @cabpool %> </strong> from locality <strong><%= @locality %> </strong>. Please check the application for more information.
</p>

<p>Thanks!</p>
<p>Danglay</p>