<h4>Hi <%= @username %>,</h4>

<p><%= @left_user.name %> (<%= @left_user.email %>) has left your carpool.</p>
<p>Know more on <%= link_to 'Danglay', your_cabpools_url, target: '_blank'%></p>
<p>Thanks!</p>
<p>Danglay</p>