<h4>Hi <%= @user %>!</h4>

<p>Your cabpool has been updated by admin. Now it contains the following members :-</p>

<ul>
<% @members.each do |user| %>
    <li><strong><%= user.name %></strong></li>
<% end %>
</ul>

<p>Know more on <%= link_to 'Danglay', your_cabpools_url, target: '_blank'%></p>
<p>Thanks,</p>
<p>Danglay</p>