<h4>Hi! <%= @user %></h4>

<p>Your cabpool has been updated to contain only the following members:</p>

<% @members.each do |user| %>
    <p> <%= user.name %> </p>
<% end %>

<p>Thanks,</p>
<p>Danglay</p>