<h4>Hi <%= @username %>,</h4>

<p>Your cabpool request has just been <strong>approved!</strong></p>

<p>Know more on <%= link_to "Danglay", your_cabpools_url, target: '_blank'%></p>
<p>Thanks!</p>
<p>Danglay</p>
