<% if @cabpool.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        This form contains <%= pluralize(@cabpool.errors.count, "error") %>.
      </div>
      <ul>
        <% @cabpool.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        <% unless @locality_errors.nil? %>
            <% @locality_errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>