<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        This form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        <% unless @locality_errors.nil? %>
          <% @locality_errors.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
<% end %>