<% provide(:banner) do %>
    <%= render partial: "layouts/primary_admin_banner", object: {edit_tab: 'active'} %>
<% end %>

<div>
  <div class="container pool-list">
    <div class="row list-label">
      <div class="col-10"><i class="fa fa-list-ol cabpool-id"></i><span>ID</span></div>
      <div class="col-20 vendors">Vendors</div>
      <div class="col-20 location">Location</div>
      <div class="col-20 timer">Timing</div>
      <div class="col-15 seats">Seat left</div>
      <div class="col-100"></div>
    </div>
    <ul>
      <%= render @cabpools %>
    </ul>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs">
</script>
