<h1>Welcome Admin</h1>
<div>
  <div class="container pool-list">
    <div class="row list-label">
      <div class="col-20 vendors">Vendors</div>
      <div class="col-20 location">Location</div>
      <div class="col-20 timer">Timing</div>
      <div class="col-30 seats">Seat left</div>
      <div class="col-100"></div>
    </div>
    <ul>
      <%= render @cabpools %>
    </ul>
    </div>
</div>
