<% provide(:banner) do %>
    <%= render partial: 'layouts/secondary_banner',
               object: { banner_ui_style: 'your-cabpool',
                         banner_heading: 'My Ride',
                         banner_paragraph: 'This is where all your cabpools are'
               }%>
<% end %>

<div class="container pool-list">
  <div class="row list-label">
    <div class="col-20 vendors">Vendors</div>
    <div class="col-20 location">Location</div>
    <div class="col-20 timer">Timing</div>
    <div class="col-20 seats">Seat left</div>
    <div class="col-100"></div>
  </div>
  <ul>

<% if user_cabpool_exists? %>
    <div class="your-pool">
      <%= render users_cabpool %>
    </div>
<% end %>

</ul>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuETg3lyde0IR6XSO1WhVZY69bAp5owcs">
</script>
