<% if user_cabpool_exists? || user_requested_cabpool_exists? %>
    <h1>Your Cabpool</h1>
<% end %>
<div class="container pool-list">
  <div class="row list-label">
    <div class="col-2 vendors">Vendors</div>
    <div class="col-2 location">Location</div>
    <div class="col-2 timer">Timing</div>
    <div class="col-3 seats">Seat left</div>
    <div class="col-1"></div>
  </div>
  <ul>

<% if user_cabpool_exists? %>
    <div class="your-pool">
      <%= render users_cabpool %>
    </div>
<% end %>

<% if user_requested_cabpool_exists? %>
    <div class="your-pool">
      <%= render users_requested_cabpool %>
    </div>
<% end %>
</ul>
</div>