var directionsService, directionsDisplay, map;
var data = {};

var CabPoolListener = {
    addListeners: function () {
        $('div.selectize:first > select').selectize()
        var select_tag = $('div.localityForm').html();
        $('div.localityForm:first').remove();
        $('#addLocality').click(function () {
            var number_of_locality_forms = $("div.localityForm").length;
            if (number_of_locality_forms <= 3) {
                var locality_form_with_remove_icon = '<div class="form-group"> ' +
                    '<div class="localityForm col-md-5 col-md-offset-3">' + select_tag + '</div> ' +
                    '<a href="javascript:;"><span class="glyphicon glyphicon-minus-sign" id="removeNewLocality"></span></a> ' +
                    '</div>';
                $('div#localitySelections').append(locality_form_with_remove_icon);
                var select_the_last_locality_form = $('div.localityForm:last > select');
                select_the_last_locality_form.change(update_map);
                select_the_last_locality_form.attr('name', 'localities[' + $.now() + ']');
                select_the_last_locality_form.selectize();

                if (number_of_locality_forms == 3) {
                    $(this).parent().hide();
                }
            }
        });

        $("div#localitySelections").on('click', '#removeNewLocality', function () {
            $(this).closest('.form-group').remove();
            var number_of_locality_forms = $("div.localityForm").length;
            var add_locality_count = $("#addLocality").length;
            if (number_of_locality_forms <= 4 && $('#addLocality').is(':hidden')) {
                $('#addLocality').parent().show();
            }
            update_map();
        });

        $('#sourceLocation').change (function() {
          data.source = $('#sourceLocation :selected').text() + " Bangalore, Karnataka ";
          update_map();
        })
    }
};

var update_map = function() {
  var viaLocations = document.getElementsByClassName('form-control selectized add-locality');
  data.waypoints = [];
  for (var counter=0; counter < viaLocations.length; counter++)
  {
    if(viaLocations[counter].textContent != ""){
      var address = viaLocations[counter].textContent + ' Bengaluru, Karnataka';
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({'address': address}, geocodeCallback);
    }
  }
  setroute();
};

var geocodeCallback = function(results, status) {
  if (status === google.maps.GeocoderStatus.OK) {
    data.waypoints.push([results[0].geometry.location.lat(), results[0].geometry.location.lng()]);
    setroute();
  }
  else {
    alert('Geocode was not successful for the following reason: ' + status);
  }
};

$(document).ready(function() {
    CabPoolListener.addListeners();
    CabPoolListenerPassenger.addListeners();
    $('#localities_search').selectize();
});

$(document).on('page:load', function() {
    CabPoolListener.addListeners();
    CabPoolListenerPassenger.addListeners();
    $('#localities_search').selectize();

});



function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: 12.9287258, lng: 77.6267284}
  });
  directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer({
    map: map
  });

  data = {};
  if(document.getElementById("locality") != null ){
    data.source = document.getElementById("locality").textContent + " Bangalore, Karnataka ";
  }
  data.destination = {lat: 12.9287258, lng: 77.6267284};
  displayRoute(data.source , data.destination, directionsService, directionsDisplay);

  directionsDisplay.addListener('directions_changed', function() {
    updateWaypoints();
  });
}

function displayRoute(origin, destination, service, display) {
  service.route({
    origin: origin,
    destination: destination,
    travelMode: google.maps.TravelMode.DRIVING,
    transitOptions: {
    routingPreference: google.maps.TransitRoutePreference.FEWER_TRANSFERS
    },
    optimizeWaypoints: true,
    avoidTolls: true
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      display.setDirections(response);
    } else {
      alert('Could not display directions due to: ' + status);
    }
  });
}

function updateWaypoints() {
    var JSON_STRING = JSON.stringify(data);
    document.getElementById('cabpool_route').value = JSON_STRING;
}

function initMap_show() {
  var maps = document.getElementsByClassName('map_show');
  var datas = document.getElementsByName('route');
  for(i=0; i< maps.length; i++) {
    if(datas[i].value != "") {
      data = JSON.parse(datas[i].value);
      if(!data.hasOwnProperty('waypoints')){
        data.waypoints = [];
      }
      setMap(maps[i], 14,data);
    }
  }
}

function setroute()
{
  var wp = [];
  for(var i=0;i<data.waypoints.length;i++)
    wp[i] = {'location': new google.maps.LatLng(data.waypoints[i][0], data.waypoints[i][1]),'stopover': true }

  directionsService.route({
    'origin':data.source,
    'destination':data.destination,
    'waypoints': wp,
    'travelMode': google.maps.DirectionsTravelMode.DRIVING,
    transitOptions: {
    routingPreference: google.maps.TransitRoutePreference.FEWER_TRANSFERS
    },
    optimizeWaypoints: true,
  }
    , function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      alert('Could not display directions due to: ' + status);
    }
  });
}

function setMap(a_map,zoom,data) {
  var map = new google.maps.Map(a_map, {zoom: zoom,center: {lat: 12.9287258, lng: 77.6267284}});
  directionsService = new google.maps.DirectionsService;
  directionsDisplay = new google.maps.DirectionsRenderer({
    draggable: false,
    map: map
  });
  setroute();
}

function fullScreenMapDisplay(a, route){
  if(a.className == 'map_show col-md-2 pull-right') {
    a.className = 'fullScreen';
    setMap(a,14,route);
  }
  else {
    a.className = 'map_show col-md-2 pull-right';
    setMap(a,14,route);
  }
}

function reset_map() {
  data.waypoints = [];
  var number_of_locality_forms = $("div.localityForm").length;
  var localitySelectionsElement = document.getElementById('localitySelections');
  localitySelectionsElement.innerHTML = "";
  $('#addLocality').parent().show();
  setroute();
}


var CabPoolListenerPassenger = {
    addListeners: function () {
        var select_tag = $('div.passengersForm').html();
        $('div.passengersForm:first').remove();
        // $('div.passengersForm:first > select').selectize()
        $('#addPassenger').click(function () {
            var number_of_people = $("div.passengersForm").length + $('label#userName').length;
            if (number_of_people <= 4) {
                var passenger_form_with_remove_icon = '<div class="form-group"> ' +
                    '<div class="passengersForm col-md-5 col-md-offset-3">' + select_tag + '</div> ' +
                    '<a href="javascript:;"><span class="glyphicon glyphicon-minus-sign" id="removeNewPassenger"></span></a> ' +
                    '</div>';
                $('div#passengersSelection').append(passenger_form_with_remove_icon);
                var select_the_last_passenger_form = $('div.passengersForm:last > select');
                select_the_last_passenger_form.attr('name', 'passengers[' + $.now() + ']');
                select_the_last_passenger_form.selectize();

                if (number_of_people == 4) {
                    $(this).parent().hide();
                }
            }
        });

        $("div#passengersSelection").on('click', '#removeNewPassenger', function () {
            $(this).closest('.form-group').remove();
            var number_of_locality_forms = $("div.passengersForm").length + $('label#userName').length;
            var add_locality_count = $("#addPassenger").length;
            if (number_of_locality_forms <= 4 && $('#addPassenger').is(':hidden')) {
                $('#addPassenger').parent().show();
            }
        });

        $('div#passenger').on('click', '#removePassenger', function() {
          $(this).closest('#userName').remove();
          var number_of_locality_forms = $("div.passengersForm").length + $('label#userName').length;
          var add_locality_count = $("#addPassenger").length;
          if (number_of_locality_forms <= 4 && $('#addPassenger').is(':hidden')) {
            $('#addPassenger').parent().show();
          }
        });
    }
};
