@import "bootstrap-sprockets";
@import "bootstrap";

$danglay-color: #471645;
$red-minus-button-color: #990000;

div  > .form-horizontal .control-label {
  text-align: left;
}

#removeNewLocality {
  color: $red-minus-button-color;
  line-height: 6;
}

#addLocality {
  color: $danglay-color;
  line-height: 1.5;
}

.label-purple {
  color: $danglay-color;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 12px;
}

.show-cabpools {
  padding-top: 1%;
  border: 2px solid $danglay-color;
  margin-bottom: 2%;
  height: 400px;
  font-size: 18px;
}

.show-cabpools .btn {
    width: 20%;
    font-size: 18px;
}

.show-cabpools form {
  padding-top: 1%;
  margin-right: 1%;
}

.show-cabpools > .row:first-child {
  height: 330px;
  border-bottom: 2px solid $danglay-color;
}

.show-cabpools > .row:last-child > div {
    height: 65px;
    padding-top: 1.5%;
}

.show-cabpools .row > div > .row:first-child {
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 2px solid $danglay-color;
}

.cabpool-img{
  width: 20%;
  height: 20%;
}

.map {
  height: 400px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.map_show {
  height: 100px;
  margin: 10px;
}

.fullScreen {
  height: 100%;
  width: 100%;
  z-index: 10;
}