@import "bootstrap-sprockets";
@import "bootstrap";

div  > .form-horizontal .control-label {
  text-align: left;
}


#removeNewLocality {
  color: #990000;
  line-height: 2
}

#addLocality {
  color: #471645;
  line-height: 2
}

#addLocality .form-control {
  display: inline;
}
.show-cabpools {
  padding-top: 2%;
  border: 2px solid #471645;
}

.label-purple {
  color: #471645;
  background: none;
  font-size: 25px;
}

.show-cabpools span {
  margin-left: 120px;
  font-size: 25px;
}

.cabpool-img{
  width: 3%;
  height: 3%;
}