@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #EAEAEA;
$danglay-color: #471645;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  background-color: $danglay-color;
  font-size: 1.3em;

  a {
    color: white;
    &:hover {
      text-decoration: underline;
      color: white;
    }

    &:focus {
      text-decoration: none;
      color: white;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}