@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #EAEAEA;
$danglay-color: #471645;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  background-color: $danglay-color;
  font-size: 1.3em;
}

footer > .container > ul > li > a {
  color: white;
  &:hover {
    background: none;
    text-decoration: underline;
    color: white;
  }
}

footer > .container > small {
  padding-top: 1%;
}
