@import "bootstrap-sprockets";
@import "bootstrap";

$danglay-color: #471645;

.application-name {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#header-nav a {
  &:hover, &:focus {
    background: transparent;
  }
}

header {
  background-color: $danglay-color;
  font-size: 1.3em;

  a {
    padding: 15px;
    color: white;

    &:hover {
      text-decoration: underline;
      color: white;
    }

    &:focus {
      text-decoration: none;
      color: white;
    }
  }
}
