@import "bootstrap-sprockets";
@import "bootstrap";

$danglay-color: #471645;
$danglay-hover-color: #592D57;

header {
  background-color: $danglay-color;
  font-size: 1.3em;

  a {

    color: white;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.application-name {
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:focus {
    color: white;
  }
}

#header-nav {

  a {
    background: none;
    &:hover, &:focus {
      text-decoration: underline;
      color: white;
    }
  }

  ul.dropdown-menu {
    border: $danglay-color solid;
  }

  > li.dropdown.open  li a {
    &:hover, &:focus {
      color: $danglay-color;
    }

    color: $danglay-color;
  }

  > li.dropdown ul.dropdown-menu{
      padding: 10px;

      li {
        white-space: nowrap;
      }
  }
}

  #header-nav > li {
    padding-top: 3%;

    .notification-row {
      padding: 10px;
      border-bottom: $danglay-color 1px solid;
      &:last-child {
        border-bottom: none !important

      }
    }
  }

form {
  padding-top: 0px;
  padding-right: 5px;
}

btn {
  padding: 5px;
}

.badge_notify {
  position:relative;
  top: -15px;
  left: -25px;
  color: #f9ecf8;
}

.badge {
  background-color:  #ff6666 !important;
}
