<section class="sub-header <%= default[:banner_ui_style]%>">
  <div class="container">
    <h2><%= default[:banner_heading] %></h2>
    <p><%= default[:banner_paragraph] %><span><%= default[:highlighted_additional_information] %></span></p>
  </div>
</section>