<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="col-md-6 <%= 'active' if params[:action] == 'show' %>"><%= link_to 'Cab Pools', root_url %></li>
    <li class="col-md-6 <%= 'active' if params[:action] == 'your_cabpools' %>"><%= link_to 'Your Cabpool', your_cabpools_path %></li>
  </ul>
</div>
