<footer>
  <div class="container">
    <small class="pull-left">
      Copyright &#169 2015 Danglay
    </small>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
  </div>
</footer>
