<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "DANGLAY", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", "#" %></li>
        <% if is_logged_in?  %>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>