<header class="navbar-fixed-top">
  <div class="container">
    <div class="application-name"><%= link_to "DANGLAY", root_path %></div>
    <nav>
      <ul id="header-nav", class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <% if is_logged_in?  %>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>