<div class="modal enlarged-map-view" role="alert">
  <div class="modal-container fullscreen">
    <div class="map-wrap">
      <div id="map" class="map_show show_full_map pull-right"></div>
    </div>
    <!-- TODO: Use built-in helpers instead of coding html directly -->
    <a href="#" class="modal-close img-replace" title="Close Map">Close</a>
  </div>
</div>
