<div class="modal popup" role="alert">
  <div class="modal-container">
    <p class="popup-message">Are you sure?</p>
    <ul class="popup-confirmation-buttons">
      <li><a href="#" id="yes">Yes</a></li>
      <li><a href="#" id="no">No</a></li>
    </ul>
    <a href="#" class="modal-close img-replace">Close</a>
  </div>
</div>