<section class="sub-header admin-header">
<div class="container">
    <h2>Welcome, admin</h2>
    <ul class="tabs">
      <li id="admin-create"><%= link_to "Create", admin_cabpool_new_path %></li>
      <li id="admin-edit"><%= link_to "Edit", admin_path %></li>
      <li id="admin-add-user"><%= link_to "Add User", admin_user_new_path %></li>
  </ul>
  </div>
</section><!-- End of banner section -->
