<section class="hero-module">
  <div class="container">
    <div class="row">
      <h1>Carpool</h1>
      <ul>
        <li><%= link_to "Create", new_cabpool_path, class: 'blue-bubble' , id: 'createcreate'%></li>
        <li><%= link_to "All Pools", root_path, class: 'pink-bubble' , id: 'join'%></li>
        <li><%= link_to "MyRide", your_cabpools_path, class: 'green-bubble', id:'ride' %></li>
      </ul>
    </div>
  </div>
</section><!-- End of banner section -->
