<section class="sub-header <%= secondary_banner[:banner_ui_style]%>">
  <div class="container">
    <h2><%= secondary_banner[:banner_heading] %></h2>
    <p><%= secondary_banner[:banner_paragraph] %></p>
  </div>
</section>