<div class="container">
  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active col-md-6"><%= link_to 'Cab Pools', root_url %></li>
      <li class="col-md-6"><%= link_to 'Create a Cab Pool', new_cabpool_path %></li>
    </ul>
  </div>
</div>
