<section class="hero-module">
  <div class="container">
    <div class="row">
      <h1>Carpool</h1>
      <ul>
        <li><%= link_to "Create", new_cabpool_path, class: 'create' , id: 'createcreate'%></li>
        <li><%= link_to "Join", root_path, class: 'join' , id: 'join'%></li>
        <li><%= link_to "Ride", your_cabpools_path, class: 'ride', id:'ride' %></li>
      </ul>
    </div>
  </div>
</section><!-- End of banner section -->
