<section class="hero-module">
  <div class="container">
    <div class="row">
      <h1>Carpool</h1>
      <ul>
        <li><%= link_to "Create", admin_cabpool_new_path, class: 'create' %></li>
        <li><%= link_to "Edit", admin_path, class: 'join' %></li>
        <li><%= link_to "Add User", admin_user_new_path, class: 'ride' %></li>
      </ul>
    </div>
  </div>
</section><!-- End of banner section -->